<!-- <div class="row">
    <form [formGroup]="updateForm" class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Placeholder" id="name" type="text" class="validate" formControlName="title" #title>
          <label for="name">Nom</label>
        </div>
        <div class="input-field col s6">
          <input id="author" type="text" class="validate" formControlName="author" #author>
          <label for="author">Auteur</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="description" class="materialize-textarea" formControlName="description" #description></textarea>
          <label for="description">Description</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="discount" type="number" class="validate" formControlName="discount" #discount>
          <label for="discount">Réduction</label>
        </div>
        <div class="input-field col s6">
          <input id="quantity" type="number" class="validate" formControlName="quantity" #quantity>
          <label for="quantity">Quantité</label>
        </div>
        <div class="input-field col s3">
          <input id="unitPurchaseHtPrice" type="number" class="validate" formControlName="unitPurchaseHtPrice"
            #unitPurchaseHtPrice>
          <label for="unitPurchaseHtPrice">Prix achat HT unitaire</label>
        </div>
        <div class="input-field col s3">
          <input id="unitRetailHtPrice" type="number" class="validate" formControlName="unitRetailHtPrice"
            #unitRetailHtPrice>
          <label for="unitRetailHtPrice">Prix Vente unitaire HT</label>
        </div>
        <div class="input-field col s3">
          <select formControlName="category" #category>
            <option value="Littérature" selected>Littérature</option>
            <option value="Histoire">Histoire</option>
            <option value="Philosophie" selected>Philosophie</option>
            <option value="Religion & spiritualité">Religion & spiritualité</option>
            <option value="Poésie" selected>Poésie</option>
            <option value="Politique">Politique</option>
          </select>
          <label>Catégorie</label>
        </div>
        <div class="input-field col s3">
          <select formControlName="condition" #condition>
            <option value="Neuf" selected>Neuf</option>
            <option value="Occasion">Occasion</option>
          </select>
          <label>Etat</label>
        </div>
      </div>
      <button class="btn" routerLink="/">Retour</button>&nbsp;
      <button class="btn" type="submit" (click)="updateBook(title.value, author.value, description.value, unitPurchaseHtPrice.value , unitRetailHtPrice.value, discount?.value, quantity.value, category.value, condition.value)"
        [disabled]="updateForm.pristine || updateForm.invalid">Ajouter</button>
    </form>
  </div> -->


<div class="container">
  <form [formGroup]="updateForm">
    <div class="example-container">
      <div class="row">
        <mat-form-field class="col s6">
          <input matInput placeholder="Titre du livre" formControlName="title" #title>
        </mat-form-field>
        <mat-form-field class="col s6">
          <input matInput placeholder="Nom de l'auteur" formControlName="author" #author>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col s12">
          <textarea matInput placeholder="Description" formControlName="description" #description></textarea>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col s3">
          <input matInput type="number" min="0" placeholder="Prix Achat unitaire HT" formControlName="unitPurchaseHtPrice"
            #unitPurchaseHtPrice>
          <mat-hint>Entrez un nombre</mat-hint>
        </mat-form-field>
        <mat-form-field class="col s3">
          <input matInput type="number" min="0" placeholder="Prix de vente unitaire HT" formControlName="unitRetailHtPrice"
            #unitRetailHtPrice>
          <mat-hint>Entrez un nombre</mat-hint>
        </mat-form-field>
        <mat-form-field class="col s3">
          <input matInput type="number" min="1" placeholder="Quantité" formControlName="quantity" #quantity>
          <mat-hint>Entrez un nombre</mat-hint>
        </mat-form-field>
        <mat-form-field class="col s3">
          <input matInput type="number" min="0" placeholder="Réduction (%)" formControlName="discount" #discount>
          <mat-hint>Entrez un nombre</mat-hint>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col s4">
          <mat-select placeholder="Catégorie" formControlName="category" #category>
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="col s4">
          <mat-select placeholder="Etat" formControlName="condition" #condition>
            <mat-option *ngFor="let condition of conditions" [value]="condition.value">
              {{condition.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="example-button-row row">
        <button class="col s2" mat-raised-button routerLink="/">Retour</button>
        <button class="col s2" mat-raised-button color="primary" (click)="updateBook(title.value, author.value, description.value, unitPurchaseHtPrice.value , unitRetailHtPrice.value, quantity.value, discount?.value, category.value, condition.value)"
          [disabled]="updateForm.pristine || updateForm.invalid">Primary</button>
      </div>
    </div>
  </form>
</div>