<div class="row">
  <div class="col s4 offset-s2">
    <h3>{{book.title}}</h3>
    <img class="materialboxed" src="../../assets/images/default_book_img.jpg" width="300" height="350">
    </div>
  <div class="col s2">
    <ul class="collapsible">
        <li>
          <div class="collapsible-header">Description du produit</div>
          <div class="collapsible-body"><span>{{book.description}}</span></div>
        </li>
        <li>
          <div class="collapsible-header">Auteur</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header">Détails</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
      <a href="#">Ajouter au panier</a>
  </div>
</div>