<nav class="z-depth-1 white">
  <div class="nav-wrapper container">
    <a routerLink="/" class="brand-logo black-text"><span class="blue-text lighten-2">B</span>iblio<span class="blue-text lighten-2">S</span>tock</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}"><a routerLink="/create" class="black-text">Ajouter un livre <i class="blue-text lighten-2 tiny material-icons left">add</i></a></li>
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="/" class="black-text">Dashboard</a></li>
    </ul>
  </div>
</nav>