<form class="container">
      <input type="text" placeholder="Titre du livre, nom de l'auteur, catégorie..." [formControl]="searchTerm">
</form>

<div class="container">
  <div class="center-align">
    <a class="btn-floating btn-small waves-effect waves-light red" routerLink="/create"><i class="material-icons">add</i></a>
    <a routerLink="/create">Ajouter un article</a>
  </div>
  <table class="highlight">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Auteur</th>
        <th>Prix achat HT unitaire</th>
        <th>Prix vente HT unitaire</th>
        <th>Prix vente TTC unitaire</th>
        <th>Coût total stock</th>
        <th>Réduction (%)</th>
        <th>Prix avec réduction</th>
        <th>Quantité</th>
        <th>Catégorie</th>
        <th>Etat</th>
        <th>Actions</th>
  
  
      </tr>
    </thead>
    <tbody *ngFor="let book of books">
      <tr class="table-link" routerLink="/book/{{book._id}}" *ngIf="result.length == ''">
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.unitPurchaseHtPrice | number}}</td>
        <td>{{book.unitRetailHtPrice | number}}</td>
        <td>{{getRetailPriceWithTaxes(book.unitRetailHtPrice)| number}}</td>
        <td>{{getStorageCost(book.unitPurchaseHtPrice, book.quantity)| number}}</td>
        <td>{{book.discount}}</td>
        <td>{{getPriceWithDiscount(getRetailPriceWithTaxes(book.unitRetailHtPrice), book.discount)| number}}</td>
        <td>{{book.quantity}}</td>
        <td>{{book.category}}</td>
        <td>{{book.condition}}</td>
        <td>
          <a class="waves-effect waves-light btn-small yellow accent-4" (click)="editBook(book._id)"><i class="material-icons">edit</i></a>
          <a class="waves-effect waves-light btn-small red darken-1" (click)="deleteBook(book._id)"><i class="material-icons">delete</i></a>
        </td>
      </tr>

    </tbody>
  
    
        <tbody *ngFor="let res of result">
            <tr *ngIf="result.length !== undifined">
                <td>{{res.title}}</td>
                <td>{{res.author}}</td>
                <td>{{res.unitPurchaseHtPrice | number}}</td>
                <td>{{res.unitRetailHtPrice | number}}</td>
                <td>{{getRetailPriceWithTaxes(res.unitRetailHtPrice)| number}}</td>
                <td>{{getStorageCost(res.unitPurchaseHtPrice, res.quantity)| number}}</td>
                <td>{{res.discount}}</td>
                <td>{{getPriceWithDiscount(getRetailPriceWithTaxes(res.unitRetailHtPrice), res.discount)| number}}</td>
                <td>{{res.quantity}}</td>
                <td>{{res.category}}</td>
                <td>{{res.condition}}</td>
                <td>
                    <a class="waves-effect waves-light btn-small yellow accent-4" (click)="editBook(res._id)"><i class="material-icons">edit</i></a>
                    <a class="waves-effect waves-light btn-small red darken-1" (click)="deleteBook(res._id)"><i class="material-icons">delete</i></a>
                  </td>
           </tr>
        </tbody>
     
  </table>
</div>


